services:
  fnos-qbit-proxy:
    image: ghcr.io/xxxuuu/fnos-qb-proxy:latest
    container_name: fnOS-qBit-Proxy
    pid: 'host'
    network_mode: 'bridge'
    environment:
      - PASSWORD=fnosnb
    ports:
      - '7777:8086'
    volumes:
      - /home:/home:ro
